* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
/* PÁGINA DE INICIO */
#inicio{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 5fr; 
    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/80/10/30/photo1jpg.jpg?w=1200&h=-1&s=1);
    background-size: cover;
}


header{
    font-family: 'Arsenal', sans-serif;
    width: 100%;
 
    display: flex;
    position: fixed;
    
}

h1{
    display: inline-block;
    margin-top: 2%;
    margin-left: 3%;
    width: 35%;
    color: white;
    font-size: 5vh;
}

nav{
    width: 65%;
    justify-content: space-between;
}



.linkNav{
    display: inline-block;
    padding: 1% 4%;
    border: 2px solid;
    border-radius: 2%;
    border-color: black;
    margin-left: 10%;
    margin-top: 3%;
    background-color: #dcdfd6;
}
.linkNav:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}



a{
    color: black;
    text-decoration: none;
 }

a:hover{
    color: #dcdfd6;
}


form{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 15%;
    margin-top: 25%;
    

}
/*https://www.youtube.com/watch?v=IxRJ8vplzAo*/

form label{
    display: block;
    margin-top: 3%;
    color: white;
    font-size: 2.5vh;
    
        
}

input{
    background-color:#dcdfd6;
    height: 5%;
    width: 50%;
}
input:hover{
    background-color: #c6c9c1;
    color: white;
    cursor: pointer;}


#si{
    display: inline;
    margin-left: 12%;
    color: white;
    font-size: 2.5vh;
}
#claseSi{
    display: inline;
    margin-left: -5%;
}
#busqueda{
    display: block;
    margin-top: 3%;
    margin-left: 1%;
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border-color: #2970db;
    background-color: #2970db;
    padding: 1%;
    color: white;
    font-size:2vh;
    transition: 1s;
}

#busqueda:hover{
    background-color: white;
    color: #2970db;
    cursor: pointer
}

#texto{
    justify-content: center;
    text-align: center;
    grid-column: 2/4;
    grid-row: 2/4;
    margin-top: 52%;
    padding-bottom: 3%;
}

#texto h2{
    color: white;
    font-size: 3vw;
    font-size: 5vh;
}

#texto p{
    color:#545454;
    font-size: 3vh;
}

/* PÁGINA DE DESTINOS */
#destinos{
    height: 100vh;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr 2fr 2fr; 
    color: white;
    background-image: url(https://www.10wallpaper.com/wallpaper/1366x768/1304/mountains_greens_pony_pasture-Natural_scenery_Desktop_wallpaper_1366x768.jpg);
    background-size: cover;
}

#destinos h2{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto auto;
    font-size: 6vh;
    color: "black";
}

#destinos #asia{

    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 3vh;
    
    
}

#destinos #europa{
    grid-column: 2/3;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 3vh;
}


#destinos #america{
    grid-column: 3/4;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 3vh;
}

#destinos #imgAsia{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: auto auto;
    
    
}


#destinos #imgEuropa{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 2/3;
    grid-row: 4/5;
    margin: auto auto;
}


#destinos #imgAmerica{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 3/4;
    grid-row: 4/5;
    margin: auto auto;
}

#destinos button{
    grid-column: 2/3;
    grid-row: 5/6;
    margin: auto auto;
    width: 50%;
    height: 15%;
} 





#destinos #incluye{
    border: 1px solid black;
    padding: 8%;
    grid-column: 3/4;
    grid-row: 5/7;
    margin: auto auto;
    border-radius: 10px;
    border-color: #2970db;
    background-color: #2970db;
    
}

#destinos #incluye h4{
    color: black;
    margin-bottom: 3%;
}

#buscar{
    grid-column: 2/3;
    grid-row: 5/6;
    margin: auto auto;
    width: 60%;
    height: 30%;
    border-radius: 10px;
    border-color: #2970db;
    background-color: #2970db;
    padding: 1%;
    color: white;
    font-size:2vh;
    transition: 1s;
}

#buscar:hover{
    background-color: white;
    color: #2970db;
    cursor: pointer
}
/*PÁGINA DE ABOUT US*/
#nosotros{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 3fr 2fr 1fr 1fr;
    background-image: url(./Ciudad.JPG);
    background-size: cover;
}

#subtitulo{
    grid-column: 1/3;
    grid-row: 2/3;
    margin: auto auto;
}

#premios{
    grid-column: 3/6;
    grid-row: 2/3;
    margin: auto auto;
    background-color: white;
    padding:1% 2%;
    margin-bottom: 2%;
}

#comentario1{
    grid-column: 2/3;
    grid-row: 3/5;
    margin: auto auto;
    height: 80%;
    transition: 1.5s;
}

#comentario1:hover{
  background-color: black;  
    color: white;
}

#comentario2{
    grid-column: 3/4;
    grid-row: 3/5;
    margin: auto auto;
    height: 80%;
    transition: 1.5s;
}

#comentario2:hover{
  background-color: black;  
    color: white;
}

#comentario3{
    grid-column: 4/5;
    grid-row: 3/5;
    margin: auto auto;
    height: 80%;
    transition: 1.5s;
}

#comentario3:hover{
  background-color: black;  
    color: white;
}

.comentario{
    background-color: white;
    width: 50%;
    height: 95%;
    padding: 4% 7%;
    padding-bottom: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.comentario p{
    display: block;
    font-size: 1.5vh;
    padding-bottom: 15%;
}


.comentario h4{
    display: block;
    font-size: 2vh;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.comentario .comillas {
    width: auto;
    height: 10%;
    margin-left: 0;


}

.personas{
    display: block;
    margin: auto;
    width: 30%;
    height: auto;
    border-radius: 10px;
}

.twitter-timeline{
    grid-column: 5/6;
    grid-row: 4/6;
    margin: auto auto;
    margin-right: 2%;
    width: 280px;
    height: 400px;
}

footer{
    grid-column: 1/5;
    grid-row: 5/6;
    width: 100%;
    margin: auto auto;
    padding-top: 3%;
    display: flex;
    background-color: transparent;
    color: white;


}

#contacto{
    display: inline-block;
    margin-left: 20%;
    
    
}

#contacto h2{
    
        margin-right: 2%;
    
}

#contacto ul{
list-style: none;
}

#contacto i{
    display: inline;
}

#contacto a{
    color: white;
    text-decoration: none;
}

.redes{
    display: inline;
    margin-left: 2%;
}


#ubicacion{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 3fr;
  
    
}
#tituloUbicacion{
grid-column: 1/4;
grid-row: 0/1;

}

#amsterdam {
grid-column: 1/2;
grid-row: 2/3;
    margin-left: 1%;
    margin-top: 10%;
}

#oslo{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 1%;
    margin-top: 10%;
}

#londres{
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: 1%;
    margin-top: 10%;
}

.error {
    color: black;
    opacity: 1;
    border: 2px solid;
    border-color: red;
}

.correcto{
    border: 2px solid;
    border-color: green; 
}

    

@media screen and (max-width:1350px) {
    h1{
     margin-top: 2%;
     margin-left: 3%;
     width: 35%;
     font-size: 4vh;
 }
 nav{
    
     justify-content: space-between;
 }
 .linkNav{
     display: inline-block;
     padding: 1% 2%;
     font-size: 15px;
     border: 2px solid;
     border-radius: 2%;
     border-color: black;
     margin-left: 8%;
     margin-top: 3%;
     background-color: #dcdfd6;
 }
 .linkNav:hover{
     background-color: black;
     color: white;
     cursor: pointer;
 }
 input{
    background-color:#dcdfd6;
    height: 5%;
    width: 70%;
}
 form label{
    display: block;
    margin-top: 3%;
    color: white;
    font-size: 1.5vh;
    
        
}
#si{
    display: inline;
    margin-left: 12%;
    color: white;
    font-size: 2vh;
}
#texto{
    justify-content: center;
    text-align: center;
    grid-column: 2/4;
    grid-row: 2/4;
    margin-top: 82%;
    padding-bottom: 3%;
}

#texto h2{
    color: white;
    font-size: 2vw;
    font-size: 4vh;
}

#texto p{
    color:#545454;
    font-size: 2vh;
}

#destinos h2{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto auto;
    font-size: 4vh;
    color: "black";
}
#destinos #asia{

    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 2vh;
    
    
}

#destinos #europa{
    grid-column: 2/3;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 2vh;
}


#destinos #america{
    grid-column: 3/4;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 2vh;
}
#destinos #imgAsia{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: auto auto;
    width: 70%;
    
}


#destinos #imgEuropa{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 2/3;
    grid-row: 4/5;
    margin: auto auto;
    width: 70%;
}


#destinos #imgAmerica{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 3/4;
    grid-row: 4/5;
    margin: auto auto;
    width: 70%;
}
#buscar{
    
    width: 50%;
    height: 20%;
    font-size:1.5vh;
}
#subtitulo{
    font-size: 2vh;
}

#premios{
    font-size: 1.5vh;
    padding:1% 4%;
}
.comentario p{
    display: block;
    font-size: 1.2vh;
    padding-bottom: 15%;
}

.comentario h4{
    display: block;
    font-size: 1.4vh;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
#contacto h2{
    
    font-size:1.5vh;
}    

#contacto a{
    font-size: 1vh;
}
#tituloUbicacion{
    font-size:1.5vh;
}

#amsterdam{
    font-size: 1vh;
}
#oslo{
    font-size: 1vh;
}
#londres{
    font-size: 1vh;
}

}
.hamburguesa{
     display: none;
     cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:white;

}

@media screen and (max-width:650px) {
.hamburguesa{
    display: block;
    margin-right: 20px;
    margin-top: 30px;
}   
.hamburguesa.active .bar:nth-child(2){
    opacity: 0;
}

.hamburguesa.active .bar:nth-child(1){
    transform:translateY(8px) rotate(45deg);
}

.hamburguesa.active .bar:nth-child(3){
    transform:translateY(-8px) rotate(-45deg);
}

.listaNav{
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #dcdfd6;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 40vh;


}

.linkNav{
    margin: 16px 0;
    display: block;
    height: 50px;
}
.linkNav:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.listaNav.active{
    left: 0;
}
input{
    background-color:#dcdfd6;
    margin: auto auto;
    height: 5%;
    width: 200%;
}
 form label{
    display: block;
    margin-top: 3%;
    color: white;
    font-size: 1.7vh;
    
        
}
#si{
    display: none;
    margin-left: 12%;
    color: white;
    font-size: 1.7vh;
}
#claseSi{
    display: inline;
    margin-left: -50%;
}
#busqueda{
    width: 100%;
    
}
#texto{
    justify-content: center;
    text-align: center;
    grid-column: 1/4;
    grid-row: 2/4;
    margin-top: 120%;
    margin-right: 25%;
    padding-bottom: 3%;
}

#texto h2{
    color: white;
    font-size: 2vw;
    font-size: 4vh;
}

#texto p{
    color:#545454;
    font-size: 2vh;
}

#destinos h2{
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto auto;
    font-size: 4vh;
    color: "black";
}
#destinos #asia{

    grid-column: 1/2;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 2vh;
    
    
}

#destinos #europa{
    grid-column: 2/3;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 2vh;
}


#destinos #america{
    grid-column: 3/4;
    grid-row: 3/4;
    margin: auto auto;
    font-size: 2vh;
}
#destinos #imgAsia{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 1/2;
    grid-row: 4/5;
    margin: auto auto;
    width: 70%;
    
}


#destinos #imgEuropa{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 2/3;
    grid-row: 4/5;
    margin: auto auto;
    width: 70%;
}


#destinos #imgAmerica{
    border: 2px solid;
    border-color: #ffffff;
    grid-column: 3/4;
    grid-row: 4/5;
    margin: auto auto;
    width: 70%;
}
#buscar{
    
    width: 80%;
    height: 20%;
    font-size:1.5vh;
}
#destinos #incluye{
  font-size: 1.5vh;
  grid-column: 1/4;
  margin-top: 37%;
  padding: 2% 6%;
    
}
#subtitulo{
    font-size: 2vh;
}

#premios{
    font-size: 1.5vh;
    padding:1% 4%;
}
.comentario p{
    display: block;
    font-size: 1.2vh;
    padding-bottom: 15%;
}

.comentario h4{
    display: block;
    font-size: 1.4vh;
    margin-bottom: 0;
    padding-bottom: 0;
    
}
#contacto h2{
    
    font-size:1.5vh;
}    

#contacto a{
    font-size: 1vh;
}
#tituloUbicacion{
    font-size:1.5vh;
}

#amsterdam{
    font-size: 1vh;
}
#oslo{
    font-size: 1vh;
}
#londres{
    font-size: 1vh;
}
#twitter-widget-0{  display: none; 
}

}